## git ignore shortcut folder
*.lnk
*.url
mbed-os
.build
.mbed
projectfiles
*.py*
BUILD
bobamasterdevboard_A\remote_control\Debug
cmake_build
build

## micro-ros ignores
libmicroros.a
include
mbed_toolchain.cmake
micro_ros_dev
micro_ros_src

#misc ignores
.vscode
